@import "base/_typography.scss";
@import "base/_variables.scss";

/*

MODULES


 */
@import "modules/_header.scss";
@import "modules/_login.scss";



* {
	transition: all ease-in 0.2s;

}

body {
	font-family: $open-sans;


	height: 6000px;

}

a {
	text-decoration: none;

}

.page-wrapper {
	max-width: 1100px;
	margin: 0 auto;

}

