@import "../base/_variables.scss";

.login-wrap {

	text-align: center;

}

input[type="text"], [type="password"] {

	border:none;

	border-radius: 5px;

	padding: 5px;

	background: #f0eae8;
	outline: none;

}